extends ../layout

block content
  h1 Uredi obavljene poslove za #{project.name}
  
  if errors
    ul.errors
      each error in errors
        li= error.msg
  
  form(action=`/projects/${project._id}/edit-tasks?_method=PUT`, method='POST')
    div.form-group
      label(for="tasks") Obavljeni poslovi (odvojeni zarezima):
      input(type='text', name='tasks', id="tasks", value=project.tasks.join(', '))
    
    div.form-actions
      button.btn.btn-success(type='submit') Spremi promjene
      a.btn(href=`/projects/${project._id}`) Odustani